/* ====== Header ======= */
.topbar {
    background: darken($color-primary, 10%);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    &.topbar-scrolled {
        @include box-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    }
    .social-container {
        position: absolute;
        right: 30px;
        top: 9px;
    }
    .social-list {
        margin-bottom: 0;
    }
    .social-item {
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            @include border-radius(50%);
            background: rgba(256, 256, 256, 0.2);
            text-align: center;
            padding-top:4px;
            .svg-inline--fa {
                color: rgba(256, 256, 256, 0.8);
                
            }
            &:hover {
                background: rgba(256, 256, 256, 0.2);
                .fa {
                    color: #fff;
                }
            }
        }
    }
    
}

.branding {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1.logo {
    margin: 0;
    display:inline-block;
    img {
        vertical-align:inherit;
    }
}

.header-info-list {
    margin-bottom: 0;
    margin-top: 5px;
    .info-item {
        position: relative;
        padding-left: 42px;
        line-height: 1.2;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: $text-color-primary;
        }
    }
    .info-main {
        display: block;
        color: $text-color-primary;
        font-weight: bold;
        font-size: 16px;
        a {
            color: $text-color-primary;
        }
    }
    .info-sub{
        display: block;
        color: $text-color-secondary;
        font-size: 14px;
        a {
            color: $text-color-secondary;
        }
    }
    .custom-icon {
        font-size: 34px;
        position: absolute;
        left: 0;
        top: 0;
        color: $color-primary;
    }
}



/* ====== Nav ======= */
.navbar {
    padding: 0;
    min-height:50px;
}

.navbar-toggler {
    margin-right: 0;
    margin-top: 0;
    background: none;
    position: relative;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: right;
    border: none;
    padding: 0;
    position: absolute;
    top: 2px;
    right: 0;

    
    &:focus {
        outline: none;
        @include box-shadow(none);
        
    }

    
}


.navbar-nav {
    font-weight: bold;
    min-height: 50px;
}

.main-nav {
	.nav-link {
	    color: rgba(256, 256, 256, 0.7);
	    font-size: 12px;
	    font-weight: 600;
	    text-transform:uppercase;
	    padding: 10px 0;
	    margin-right: 15px;
	
	    &:focus, &:hover {
		    background: none;
	        outline: none;
	        text-decoration: none;
	    }
	    
	}
	
	.nav-item.active {
		.nav-link {
			color: #fff;
		}
	}

}




