/* ======= Base ======= */
body {
    font-family: 'Lato', sans-serif;
    color: $text-color-primary;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

a {
    color: $color-primary;
    text-decoration: none;
    &:hover, &:active {
	    @include transition (all 0.4s ease-in-out);
        text-decoration: underline;
        color: darken($color-primary, 5%);    
        text-decoration: underline;    
    }
    &:focus {
        text-decoration: none;
        color: darken($color-primary, 5%); 
        outline: none;
    }
}

.btn, a.btn {
    
    font-weight: 700;
    padding: 8px 20px;
    &:hover {
	    @include transition (all 0.4s ease-in-out);
	    text-decoration: none;
    }
    &:focus {
	    @include box-shadow(none);
    }
    
}

a.btn-cta, .btn-cta {
    font-size: 16px;
    padding: 12px 25px;
    padding-top: 13px;
    font-weight: 900;
}

a.btn-theme-primary, .btn-theme-primary { 
    background: $color-secondary;
    border: none;
    color: #fff;

    &:hover, &:active, &:focus {
        background: darken($color-secondary, 5%);
        border: none;
        color: #fff;
        outline: none;
    }
}

a.btn-theme-secondary, .btn-theme-secondary { 
    background: $color-primary;
    border: none;
    color: #fff;

    &:hover, &:active, &:focus {
        background: darken($color-primary, 5%);
        border: none;
        color: #fff;
        outline: none;
    }
}


.form-control {
   @include box-shadow(none);
    height: 45px;
    border-color: $grey;
    @include placeholder($grey);
    font-size: 16px;
    
    &:focus {
        border-color: darken($grey, 5%);
        @include box-shadow(none);
    }    
}

textarea.form-control {
    height: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"], 
textarea
{
    appearance: none;  /* for mobile safari */
    -webkit-appearance: none;
}

.form-group {
    margin-bottom: 30px;
}

#back-to-top {
    background: darken($color-primary, 10%);
    color: #fff;
    text-align: center;
    display: inline-block;
    z-index: 30;
    width: 36px;
    height: 36px;
    @include border-radius(2px);
    &:hover {
        background: darken($color-primary, 15%);
        color: #fff;
    }
    svg {
        margin-top: 5px;
    }
}


/* Bootstrap 4 carousel-fade */

// Carousel fade transition
.carousel-fade {
	.carousel-item {
		opacity: 0.5;
		transition: opacity .75s ease-in-out;

		&.active {
			opacity: 1;
			display: block;
		}
	}
}


.carousel-indicators {
    bottom: 30px;
    margin-bottom: 0;
    
    li {
        background-color: rgba(256, 256, 256, 0.2);
        border: none;
        width: 10px;
        height: 10px;
        margin: 0;
        margin-right: 10px;
        @include border-radius(50%);
        &.active {
            background-color: rgba(0, 0, 0, 0.5);
            width: 11px;
            height: 11px;
            margin: 0;
            margin-right: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}


/* Generic section styling */
.section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 28px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.section-intro {
    margin-top:0;
    margin-bottom: 60px;
    font-size: 16px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

/* offset in Bootstrap 4 */
.blueimp-gallery>a.next, .blueimp-gallery>a.prev {
    color: #fff !important;
}
