/* ======= FAQs Section ======= */
.faq-section {
    background: $smoky-white;
    .section-title {
        margin-bottom: 60px;
    }
    .accordion-item {
        @include box-shadow(none);
        border: none;
        background: #fff;
        padding: 15px;
        margin-bottom: 15px;
        @include border-radius(4px);
        
    }

    
    .accordion-button {
        text-decoration: none;
        padding: 0;
        color: $text-color-primary;
        background: none;
        box-shadow: none;
        &:after {
	        display: none;
        }
    }

    .accordion-header {
        font-size: 18px;
        margin-bottom: 0;
        position: relative;
        padding-left: 30px;
        .fa-circle-question {
	        position: absolute;
	        left: 5px;
	        top: 3px;
            color: $text-color-primary;
        }
        a {
            color: $color-primary;
            
        }
    }
    
    .accordion-body {
        font-size: 16px;
        padding: 30px;
        padding-top:15px;
    }
}