/* ======= Reviews Section ======= */
.reviews-section {
    background: darken($color-primary, 15%);
    color: #fff;
    .rating {
        margin-bottom: 15px;
        .svg-inline--fa {
            color: $color-rating;
        }
    }
    
    .customer-profile {
        display: inline-block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    
    .inner {
        padding: 30px;
    }
    
    .quote {
        border-left: none;
        padding: 0;
        font-size: 14px;
        position: relative;
        padding-left: 20px;
        text-align: left;
        .svg-inline--fa {
            position: absolute;
            left: -8px;
            color: rgba(256, 256, 256, 0.6);
            color: rgba(0, 0, 0, 0.4);
            font-size: 18px;
        }
    }
    
    
    
    .source {
        font-size: 12px;
        color: rgba(256, 256, 256, 0.8);
        a {
	        color: rgba(256, 256, 256, 0.8);
            &:hover {
                color: #fff;
            }
        }
    }
    
}


.tns-nav {
	display: block;
	margin-top: 1rem;
	position: absolute;
    text-align: center;
    width: 100%;
	
	button {
	    width: 9px;
	    height: 9px;
	    padding: 0;
	    margin: 0 5px;
	    border-radius: 50%;
	    background: rgba(0, 0, 0, 0.4);
	    border: 0;
	    &.tns-nav-active {
		    background: rgba(256, 256, 256, 0.6);
		    
	    }
	    &:focus {
		    outline: none;
	    }
	}
}


